<div class="row">
  <div class="col-xs-12">
    <img
      [src]="record.car.imagePath"
      alt="{{ record.car.model }}"
      class="img-responsive"
      style="max-height: 200px;">

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ record.time }}</h1>
    <h4>{{ record.weather }}</h4>
    <hr>

  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <b>Car</b>
    <p></p>
    <p>Brand : {{record.car.brand}}</p>
    <p>Model : {{record.car.model}}</p>
    <p>Type : {{record.car.type}}</p>
    <p>Year : {{record.car.year}}</p>
    <p>Modification : {{record.car.modification}}</p>
    <p>Tyre : {{record.car.tire}}</p>
  </div>
    <div class="col-sm-6">
      <b>Circuit</b>
      <p></p>
      <p>Name : {{record.circuit.name}}</p>
      <p>Country : {{record.circuit.country}}</p>
      <p>Length : {{record.circuit.length}}</p>
      <p>Cars that laped this circuit:</p>

        <ul class="list-group">
        <li
        class="list-group-item"

        *ngFor="let c of cars">
        {{ c.brand}} - {{ c.model }}
        </li>
        </ul>

    </div>

</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Record <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditRecord()">Edit Record</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecord()" ng-confirm-click="Are you sure you want to delete this record?">Delete Record</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!--<ul class="list-group">-->
      <!--<li-->
        <!--class="list-group-item"-->
        <!--*ngFor="let ingredient of recipe.ingredients">-->
        <!--{{ ingredient.name }} - {{ ingredient.amount }}-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</div>
